header{
    background-image: url("../images/main/backgroundimg3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

section{
    width: 80%;
    padding-left: 10%;
}

.toolImage{
    float: left;
    width: 40%;
    height: 480px;
    margin-left: 40px;
}

.explan{
    float: left;
    width: 40%;
    height: 480px;
    margin-left: 40px;
}

.explan_text h1{
    text-align: center;
}

.explan_text>*{
    margin-top: 50px;
}

.tags a{
    text-decoration: underline;
    color: blue;
    padding: 0 3px;
}